h1 {
  text-align: center;
  padding-top: 50px;
  font-size: 50px;
  color: rgb(53, 53, 53);
}

.crop h1 {
  width: 101%;
  height: 100px;
  margin-top: -10px;
  margin-left: -10px;
  background-color: rgb(182, 205, 248);
}
