<body>
    <h1>Dashboard</h1>
    <nav class="topnav">
        <a routerLink="/profile">Profile</a>
        <a (click)="logout()">Log out</a>
    </nav>
    <br>
    <!-- <label for="search-box">Search For Pokemon: </label>
    <input #searchBox id="search-box" /> -->
    <div class="trades">
        <ul class="items">
            <li *ngFor="let trade of trades">
                <!-- <a routerLink="/detail/{{trade.id}}">
                    <span class="badge">{{hero.id}}</span> {{hero.name}}
                </a> -->
                <p>offeredBy: {{ trade.offeredBy }}, redeemedBy: {{ trade.redeemedBy }}</p>
            </li>
        </ul>
    </div>
</body>