<body>
  <div class="row" *ngFor="let user of dbUserInfo">
    <div class="pgtitle">
      <h1>{{user.userName}}'s Profile</h1>
    </div>
    <nav class="topnav">
      <a routerLink="/dashboard">Home</a>
      <a (click)="toggle()">{{buttonName}}</a>
    </nav>
    <div class="userinfo" *ngIf="isShow; else collection">
      <table>
        <tr>
          <td>User name: </td>
          <td>{{ user.userName }}</td>
        </tr>
        <tr>
          <td>Account #: </td>
          <td>{{ user.userID }}</td>
        </tr>
        <tr>
          <td>E-mail:</td>
          <td> {{user.email}}</td>
        </tr>
      </table>
    </div>
    <ng-template #collection>
      <app-collection></app-collection>
    </ng-template>
  </div>
</body>