<h1>Register Here</h1>
<form id="form" action="">
    Username: <input type="text" name="username" placeholder="Enter your username..." required>
    <br>
    Password: <input type="password" name="password" placeholder="Enter your password..." required>
    <br>
    Re-enter Password: <input type="password" name="password" placeholder="Enter your password..." required>
    <br>
    Email: <input type="email" name="email" placeholder="Enter your email here..." required>
</form>
<!-- 
    Button attribute should be onclick => some event to check if user already exists or not
        true -> store data to db and redirect to login page
        false -> print error "eg. account already exists"
 -->
<button routerLink="/login">Sign up</button>