<body>
    <div class="collection">
        <div *ngIf="userCards.length==0">
            <span style="text-align: center;">
                <h1>Your collection is Empty</h1>
            </span>
        </div>
        <mat-grid-list class="grid" cols="4" rowHeight="2:3">
            <mat-grid-tile *ngFor="let card of userCards">
                <mat-card class="example-card">
                    <img mat-card-image src="../../assets/images/{{card.pokeID}}.png" alt="Photo of {{card.pokemon}}">
                    <mat-card-title>Card #{{card.cardID}} - #{{card.pokeID}} {{card.pokemon}}</mat-card-title>
                    <div class="trading">In Trading:</div>
                    <mat-card-actions>
                        <label class="switch">
                            <input type="checkbox" [checked]="card.trading" (change)="tradableToggle(card.cardID)">
                            <span class="slider round"></span>
                        </label>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</body>